@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-4">
        <div class="card text-white bg-primary mb-2 d-inline-block" style="max-width: 18rem;">
            <div class="card-header">Bootstrap Examples</div>
            <div class="card-body">
                <h4><a class="btn btn-secondary card-title" asp-page="BootstrapThemeExamples">Bootstrap Theme</a></h4>
                <p class="card-text">This page contains the example page that demonstrates
                    what each item looks like with the bootstrap theme.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-primary mb-2 d-inline-block" style="max-width: 18rem;">
                <div class="card-header">Events</div>
                <div class="card-body">
                    <h4><a class="btn btn-secondary card-title" asp-page="Events/Events">Events</a></h4>
                    <p class="card-text">
                        This page will show all the events and actions that are taking place, and which user made the changes.
                    </p>
                </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-primary mb-2 d-inline-block" style="max-width: 18rem;">
                <div class="card-header">Errors</div>
                <div class="card-body">
                    <h4><a class="btn btn-secondary card-title" asp-page="Events/Errors">Errors</a></h4>
                    <p class="card-text">Shows the list of errors that occured, and the stack trace to follow the errors.
                    </p>
                </div>
        </div>
    </div>


</div>






