@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}


<br />
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>SMART SYSTEM</h1>
        <h6>Live as if you were to die tomorrow. Learn as if you were to live forever</h6>
    </div>
    <br />
    <div class="row">


        <div class="col-12">
            <div id="smart" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#smart" data-slide-to="0" class="active"></li>
                    <li data-target="#smart" data-slide-to="1"></li>
                    <li data-target="#smart" data-slide-to="2"></li>
                    <li data-target="#smart" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/student1.png" alt="student" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pict1.jpg" alt="computer class" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/english1.jpeg" alt="English class" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/pic2.jpg" alt="English class" width="1100" height="500">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#smart" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#smart" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
