@page
@model Smart.Pages.Attendance.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Attendance.StudentId" class="control-label"></label>
                <select asp-for="Attendance.StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Attendance.ClassId" class="control-label"></label>
                <select asp-for="Attendance.ClassId" class ="form-control" asp-items="ViewBag.ClassId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Attendance.Date" class="control-label"></label>
                <input asp-for="Attendance.Date" class="form-control" />
                <span asp-validation-for="Attendance.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.TimeIn" class="control-label"></label>
                <input asp-for="Attendance.TimeIn" class="form-control" />
                <span asp-validation-for="Attendance.TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.AttendanceStatusId" class="control-label"></label>
                <select asp-for="Attendance.AttendanceStatusId" class ="form-control" asp-items="ViewBag.AttendanceStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
