@model Course
<input type="hidden" asp-for="CourseId" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-warning"></span>
</div>