@page
@model Smart.Pages.Classes.AttendanceModel
@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Pages/Classes/_Layout.cshtml";
}
<form asp-page-handler="UploadCsv" enctype="multipart/form-data">
    <input name="file" type="file" value="Upload" asp-page="Import" class="btn btn-info"><i class="fas fa-file-import"></i> &nbsp;  Import Attendance File </>
    <input type="submit" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th role="columnheader">Date</th>
            <th role="columnheader">On Time</th>
            <th role="columnheader">Late</th>
            <th role="columnheader">Absent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendances)
        {
            <tr>
                <td>@item.Date.ToString("d MMMM")</td>
                <td>@item.OnTimeCount</td>
                <td>@item.LateCount</td>
                <td>@item.AbsentCount</td>
            </tr>
        }
    </tbody>
</table>



<script>

</script>

