@page

@model Smart.Pages.Classes.StudentListModel
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Pages/Classes/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th role="columnheader">Name</th>
            <th role="columnheader">Grade</th>
            <th role="columnheader">Attendance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td><a asp-page="/Students/Details" asp-route-id="@student.StudentId" style="color:#7989ff">@student.Name</a></td>
                <td>@(student.GradeAverage.HasValue ? student.GradeAverage.Value.ToString() + "%" : "N/A")</td>
                <td>@(student.AttendanceAverage.HasValue ? student.AttendanceAverage.Value.ToString() + "%" : "N/A")</td>
            </tr>
        }
    </tbody>
</table>