@page
@model Smart.Pages.Files.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>File</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="File.FileId" />
            <div class="form-group">
                <label asp-for="File.StudentId" class="control-label"></label>
                <select asp-for="File.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="File.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.FileTypeId" class="control-label"></label>
                <select asp-for="File.FileTypeId" class="form-control" asp-items="ViewBag.FileTypeId"></select>
                <span asp-validation-for="File.FileTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.ByteData" class="control-label"></label>
                <input asp-for="File.ByteData" class="form-control" />
                <span asp-validation-for="File.ByteData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.FileName" class="control-label"></label>
                <input asp-for="File.FileName" class="form-control" />
                <span asp-validation-for="File.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
