@page
@model MyApp.Namespace.EventsModel
@{
}

<div class="row">
    <div class="col-4">
        <h2>Events</h2>
    </div>    
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event</th>
                    <th>User Logged In</th>
                    <th>Date Of Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sample</td>
                    <td>Sample</td>
                    <td>Sample</td>
                    <td>Sample</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
