@page
@model Smart.Pages.RatingCriterium.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Criteria</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RatingCirterium.RatingCirteriumId" />
            <div class="form-group">
                <label asp-for="RatingCirterium.Description" class="control-label"></label>
                <input asp-for="RatingCirterium.Description" class="form-control" />
                <span asp-validation-for="RatingCirterium.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingCirterium.MaxScore" class="control-label"></label>
                <input asp-for="RatingCirterium.MaxScore" class="form-control" />
                <span asp-validation-for="RatingCirterium.MaxScore" class="text-danger"></span>
            </div>
            <div class="form-group row ">
                <div class="col-12">
                    <partial name="_EditButtons" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
