@page
@model Smart.Pages.Grades.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudentAssessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentAssessment.AssessmentId" />
            <input type="hidden" asp-for="StudentAssessment.StudentId" />
            <div class="form-group">
                <label asp-for="StudentAssessment.PointsAwarded" class="control-label"></label>
                <input asp-for="StudentAssessment.PointsAwarded" class="form-control" />
                <span asp-validation-for="StudentAssessment.PointsAwarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAssessment.Comments" class="control-label"></label>
                <input asp-for="StudentAssessment.Comments" class="form-control" />
                <span asp-validation-for="StudentAssessment.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAssessment.SubmissionDateTime" class="control-label"></label>
                <input asp-for="StudentAssessment.SubmissionDateTime" class="form-control" />
                <span asp-validation-for="StudentAssessment.SubmissionDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAssessment.FileId" class="control-label"></label>
                <select asp-for="StudentAssessment.FileId" class="form-control" asp-items="ViewBag.FileId"></select>
                <span asp-validation-for="StudentAssessment.FileId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="submit" value="Save" class="btn btn-info form-control" asp-route-id="@Model.StudentAssessment.StudentId" asp-route-studentId="@Model.studentIdentification" />
                </div>
                <div class="col-6">
                    <a asp-page="Index" class="btn btn-success form-control" asp-route-studentId="@Model.studentIdentification">Back to List</a>
                </div>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
