@page
@model MyApp.Namespace.IndexModel
@{
    ViewData["Title"] = "Index";

    //Sunday is 0
    int currentDayOfWeek = (int)DateTime.Now.DayOfWeek -1;
}
<script type="text/javascript">
    console.log(@currentDayOfWeek)
</script>

<div class="row">
    <div class="col-6">
        <h2>Schedule</h2>
        <h2>Student Name</h2>
    </div>
</div>
@for(int i = 0; i < 5; i++)
{
    @if(currentDayOfWeek > 4)
    {
        currentDayOfWeek = 0;
    }

    <div class="row" style="padding-top: 10px;">
        <input type="hidden" value="@currentDayOfWeek" id="MyDayOfWeek" />
        <div class="col-12">
            <div class="card">
                    <div class="card-header bg-secondary">
                        <div class="row">
                <div class="col-4">
                            <h3>@Model.DaysOfTheWeek[currentDayOfWeek]</h3>
                        </div>
                        <div class="col-4 text-danger" style="vertical-align: text-bottom; text-align: center; margin-top: 10px;">
                            Missing Classes
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-primary text-white" asp-page="Create" asp-route-id="">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0px;">
                        <table class="table table-striped border col-md-12">
                            <thead>
                                <tr>
                                    <th>Class Id</th>
                                    <th>Time</th>
                                    <th>Class</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Class Id</td>
                                    <td>7:00 - 8:30</td>
                                    <td>English 1</td>
                                    <td class="float-right">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-success text-white">
                                                <i class="fas fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-danger text-white" data-toggle="modal" data-target="#DeleteModal">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            
                            
                        </table>
                    </div>
                </div>
        </div>
        
    </div>

    currentDayOfWeek++;
}

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabIndex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Class</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you'd like to remove the student from
                    this class? <br>This action can't be undone.
                </p>
                <form class="form-group" asp-page="Index" method="post">
                    <input type="hidden" id="SelectedClass" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form> 
                
            </div>
            
        </div>
    </div>

</div>
