@page
@model MyApp.Namespace.IndexModel
@{
    ViewData["Title"] = "Index";

    //Sunday is 0
    int currentDayOfWeek = (int)DateTime.Now.DayOfWeek -1;
}
<script type="text/javascript">
    console.log(@currentDayOfWeek)
</script>

<div class="row">
    <div class="col-6">
        <h2>Schedule</h2>
    </div>
    <div class="col-6 text-right">
        <h2>Student Name</h2>
    </div>
</div>
<div class="row">
    
</div>


@for(int i = 0; i < 5; i++)
{
    @if(currentDayOfWeek > 4)
    {
        currentDayOfWeek = 0;
    }

    <div class="row" style="padding-top: 10px;">
        <div class="col-12">
            <div class="card">
                    <div class="card-header bg-secondary">
                        <div class="row">
<div class="col-4">
                            <h3>@Model.DaysOfTheWeek[currentDayOfWeek]</h3>
                        </div>
                        <div class="col-4 text-danger" style="vertical-align: text-bottom; text-align: center; margin-top: 10px;">
                            Missing Classes
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0px;">
                        <table class="table table-striped border col-md-12">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Class</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>7:00 - 8:30</td>
                                    <td>English 1</td>
                                    <td class="float-right">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-success text-white">
                                                <i class="fas fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-danger text-white">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            
                            
                        </table>
                    </div>
                </div>
        </div>
        
    </div>

    currentDayOfWeek++;
}


<div class="row">
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                <h3>Monday</h3>
            </th>
            <th class="text-danger">
                Missing Time Slots
            </th>
            <th>
                <a class="btn btn-primary text-white">
                        <i class="fas fa-edit"></i>
                    </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Class</th>
        </tr>
        <tr>
            <td></td>
            <td>7:00 - 8:30</td>
            <td>English 1</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-success text-white">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="table-secondary">
            <th>
                <h3>Tuesday</h3>
            </th>
            <th class="text-danger">
                Missing Time Slots
            </th>
            <th>
                <a class="btn btn-primary text-white">
                        <i class="fas fa-edit"></i>
                    </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Class</th>
            <th class="float-right">
                <div class="btn-group" role="group">
                    <a class="btn btn-success text-white">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </th>
        </tr>
        <tr class="table-secondary">
            <th>
                Wednesday
            </th>
            <th class="text-danger">
                Missing Time Slots
            </th>
            <th>
                <a class="btn btn-primary text-white">
                        <i class="fas fa-edit"></i>
                    </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Class</th>
            <th>
                <div class="btn-group" role="group">
                    <a class="btn btn-success text-white">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </th>
        </tr>
        <tr class="table-secondary">
            <th>
                Thursday
            </th>
            <th class="text-danger">
                Missing Time Slots
            </th>
            <th>
                <a class="btn btn-primary text-white">
                        <i class="fas fa-edit"></i>
                    </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Class</th>
            <th>
                <div class="btn-group" role="group">
                    <a class="btn btn-success text-white">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </th>
        </tr>
        <tr class="table-secondary">
            <th>
                Friday
            </th>
            <th class="text-danger">
                Missing Time Slots
            </th>
            <th>
                <a class="btn btn-primary text-white">
                        <i class="fas fa-edit"></i>
                    </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Class</th>
            <th>
                <div class="btn-group" role="group">
                    <a class="btn btn-success text-white">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </th>
        </tr>

    </table>
</div>

