@page
@model Smart.Pages.Application.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.DateOfBirth" class="control-label"></label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label"></label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Village" class="control-label"></label>
                <input asp-for="Student.Village" class="form-control" />
                <span asp-validation-for="Student.Village" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LocationLattitude" class="control-label"></label>
                <input asp-for="Student.LocationLattitude" class="form-control" />
                <span asp-validation-for="Student.LocationLattitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LocationLongitude" class="control-label"></label>
                <input asp-for="Student.LocationLongitude" class="form-control" />
                <span asp-validation-for="Student.LocationLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.PublicSchoolLevel" class="control-label"></label>
                <input asp-for="Student.PublicSchoolLevel" class="form-control" />
                <span asp-validation-for="Student.PublicSchoolLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GuardianName" class="control-label"></label>
                <input asp-for="Student.GuardianName" class="form-control" />
                <span asp-validation-for="Student.GuardianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Phone" class="control-label"></label>
                <input asp-for="Student.Phone" class="form-control" />
                <span asp-validation-for="Student.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Photo" class="control-label"></label>
                <input asp-for="Student.Photo" class="form-control" />
                <span asp-validation-for="Student.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StudentStatusId" class="control-label"></label>
                <select asp-for="Student.StudentStatusId" class="form-control" asp-items="ViewBag.StudentStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-info"></i> &nbsp; Back to List </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
