@model UsersModel.InputModel

    <div class="container">
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        @if (Model.UserId.HasValue)
        {
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        }
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control">
        <span class="text-danger"></span>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h5>Roles</h5>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                var role = Model.Roles[i];
                <p><input type="checkbox" name="Roles[@i].IsSelected" asp-for="@role.IsSelected" /> @role.Name</p>
                <input type="hidden" name="Roles[@i].Name" value="@role.Name" />
                <input type="hidden" name="Roles[@i].RoleId" value="@role.RoleId" />
            }
        </div>
    </div>
