@page
@model Smart.Pages.Application.EditModel

@{
    var imagePath = @"" + Model.Student.Photo;
}

<h2>Edit Student</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.StudentId" />
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.DateOfBirth" class="control-label"></label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label"></label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Village" class="control-label"></label>
                <input asp-for="Student.Village" class="form-control" />
                <span asp-validation-for="Student.Village" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LocationLattitude" class="control-label"></label>
                <input asp-for="Student.LocationLattitude" class="form-control" />
                <span asp-validation-for="Student.LocationLattitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LocationLongitude" class="control-label"></label>
                <input asp-for="Student.LocationLongitude" class="form-control" />
                <span asp-validation-for="Student.LocationLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.PublicSchoolLevel" class="control-label"></label>
                <input asp-for="Student.PublicSchoolLevel" class="form-control" />
                <span asp-validation-for="Student.PublicSchoolLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnglishLevel" class="control-label"></label>
                <input asp-for="Student.EnglishLevel" class="form-control" />
                <span asp-validation-for="Student.EnglishLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.ItLevel" class="control-label"></label>
                <input asp-for="Student.ItLevel" class="form-control" />
                <span asp-validation-for="Student.ItLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GuardianName" class="control-label"></label>
                <input asp-for="Student.GuardianName" class="form-control" />
                <span asp-validation-for="Student.GuardianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Phone" class="control-label"></label>
                <input asp-for="Student.Phone" class="form-control" />
                <span asp-validation-for="Student.Phone" class="text-danger"></span>
            </div>

            @*Photo Section*@
            <div class="form-group">
                <label asp-for="Student.Photo" class="control-label"></label>
                <img src="@imagePath" height="60%" width="40%" />
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Student.Photo" class="col-form-label"></label>
                </div>
                <div class="col-10">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Student.StudentStatusId" class="control-label"></label>
                <select asp-for="Student.StudentStatusId" class="form-control" asp-items="ViewBag.StudentStatusId"></select>
                <span asp-validation-for="Student.StudentStatusId" class="text-danger"></span>
            </div>
            <div class="form-group row ">
                <div class="col-12">
                    <partial name="_EditButtons" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}